{:sandbox/version       "2"
 :clojurescript/version "1.10.771"
 :sandbox/libraries     [{:name      "reagent"
                          :type      :cljs
                          :doc       "A minimalistic ClojureScript interface to React.js"
                          :url       "https://github.com/reagent-project/reagent"
                          :coord     [reagent "1.0.0-alpha2"]
                          :render-fn sandbox.reagent/render
                          :require   [[reagent.core]
                                      [sandbox.reagent]]
                          :examples  [{:name    "TodoMVC"
                                       :type    :gist
                                       :gist-id "ef50850eceb027072fe7d5cbe598cf72"}
                                      {:name    "highlight.js"
                                       :type    :gist
                                       :gist-id "0c7168819b05c803a2963191f51eb321"}]}
                         {:name    "cljspad/sandbox"
                          :type    :cljs
                          :coord   [cljspad/sandbox "0.1.1"]
                          :url     "https://github.com/cljspad/sandbox"
                          :doc     "Utility functions for the cljspad sandbox"
                          :require [[sandbox.user]
                                    [sandbox.markdown]
                                    [sandbox.reagent]]}
                         {:name      "marked"
                          :type      :js
                          :coord     [marked "1.1.1"]
                          :doc       "A markdown parser and compiler. Built for speed."
                          :url       "https://github.com/markedjs/marked"
                          :render-fn sandbox.markdown/render
                          :require   [[sandbox.markdown]
                                      [marked]]
                          :examples  [{:name    "Lorem Markdown"
                                       :type    :gist
                                       :gist-id "a9502f5137f2f3b99f2ec6cf7b44debb"}]}
                         {:name     "re-frame"
                          :type     :cljs
                          :doc      "A ClojureScript framework for building user interfaces, leveraging React"
                          :url      "https://github.com/day8/re-frame"
                          :coord    [re-frame "1.1.1"]
                          :require  [[re-frame.core]]
                          :examples [{:name    "Counter"
                                      :type    :gist
                                      :gist-id "5f27a0b4a16a04a9b6f1be6d9a9267f1"}]}
                         {:name     "datascript"
                          :type     :cljs
                          :doc      "Immutable database and Datalog query engine for Clojure, ClojureScript and JS\n\n"
                          :url      "https://github.com/tonsky/datascript"
                          :coord    [datascript "1.0.1"]
                          :require  [[datascript.core]]
                          :examples [{:name    "Implicit join, multi-valued attribute"
                                      :type    :gist
                                      :gist-id "fd1fa56ac2f4ec2d516fb07b49641097"}]}]}