body {
  font-family: Hack, monospace;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  color: #24292e;
  background-color: #fff;
}

.cljsfiddle-container {
  height: calc(100vh - 55px);
  width: 100%;
  display: flex;
}

.cljsfiddle-navbar {
  padding-left: 5px;
  padding-right: 5px;
  height: 49px;
  vertical-align: middle;
  background-color: #fafafa;
  border-bottom: 1px solid #ccc;
}

.cljsfiddle-logo {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

#app {
  flex: 2;
  border-right: 1px solid #ccc;
}

#right {
  padding-top: 5px;
  width: calc(40% - 5px);
  margin-left: 5px;
  height: 100%;
  flex: 1 0 50%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

#sandbox {
  flex: 1;
  padding: 10px;
}

.cljsfiddle-action {
  color: #0366d6;
  user-select: none;
}

.cljsfiddle-action:hover {
  text-decoration: underline;
  cursor: pointer;
}

.cljsfiddle-code {
  border-radius: 4px;
  font-size: 12px;
  font-family: Hack, monospace;
  padding: .2em .4em;
  margin: 0;
  background-color: rgba(27,31,35,.05);
}

.cljsfiddle-repl-icon {
  content: url('https://api.iconify.design/mdi:console-line.svg?color=%2324292e&height=16');
  vertical-align: -0.125em;
}
