body {
  font-family: Hack, monospace;
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
}

code {
  font-family: Hack, monospace;
}

body, html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#cljspad-app {
  height: 100%;
  width: 100%;
}

.cljspad-container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.cljspad-left-pane {
  border-right: 1px solid #ccc;
}

.cljspad-right-pane {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.cljspad-readme, .cljspad-sandbox, .cljspad-library, .cljspad-export {
  height: calc(100vh - 30px);
  overflow: scroll;
  overflow-y: auto;
  overflow-x: auto;
  font-family: Lato, Helvetica, Arial, sans-serif;
  padding: 10px;
}

.cljspad-navbar {
  padding-left: 5px;
  padding-right: 5px;
  height: 49px;
  vertical-align: middle;
  background-color: #fafafa;
  border-bottom: 1px solid #ccc;
}

.cljspad-logo {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.cljspad-action {
  color: #0366d6;
  user-select: none;
}

.cljspad-action:hover {
  text-decoration: underline;
  cursor: pointer;
}

.cljspad-code {
  border-radius: 4px;
  font-size: 12px;
  font-family: Hack, monospace;
  padding: .2em .4em;
  margin: 0;
  background-color: rgba(27,31,35,.05);
}

.cljspad-repl-icon {
  content: url('https://api.iconify.design/mdi:console-line.svg?color=%2324292e&height=16');
  vertical-align: -0.125em;
}

.cljspad-run-icon {
  content: url('https://api.iconify.design/entypo:controller-play.svg?color=%238bc34a&height=16');
  vertical-align: -0.125em;
}

.cljspad-github-icon {
  content: url('https://api.iconify.design/ant-design:github-filled.svg?color=%2324292e&height=16');
  vertical-align: -0.125em;
}

.cljspad-caret-right-icon {
  content: url('https://api.iconify.design/ant-design:caret-right-filled.svg?color=%2324292e&height=16');
  vertical-align: -0.125em;
}

.cljspad-caret-down-icon {
  content: url('https://api.iconify.design/ant-design:caret-down-filled.svg?color=%2324292e&height=16');
  vertical-align: -0.125em;
}

.cljspad-loading-icon {
  content: url('https://api.iconify.design/codicon:loading.svg?color=%2324292e&height=16');
  vertical-align: -0.125em;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.cljspad-button {
  display: inline-block;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.54);
  padding-left: 3px;
  padding-right: 3px;
  user-select: none;
}

.cljspad-button.active {
  border-bottom: 2px solid #f9826c;
}

.cljspad-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.04);
}

.cljspad-toolbar {
  height: 30px;
  background-color: #fafafa;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  display: flex;
  align-items: center;
}